/* Debug Rules */

    /* Header */
header {
    height: 560px;
}

nav {
    height: 65px;
    background-color: white;
}

#jumbotron {
    height: 495px;
    background-color: #004AFF;
}

    /* Main */
main{
    height: 3585px;
}

#customers {
    height: 270px;
    background-color: #F3F5F9;
}

#deploy {
    height: 700px;
    background-color: #ffff;
}

#designed{
    height: 780px;
    background-color: #F3F5F9;
}

#features{
    height: 440px;
    background-color: #ffff;
}

#servers{
    height: 420px;
    background-color:#0034B1;
}

#love_story{
    height: 720px;
    background-color: #F3F5F9;
}

#get_started{
    height:255px;
    background-color:#0034B1;
}

    /* Footer */

footer{
    height: 520px;
    background-color:#031C4E;
}

/* Common Rules */

.container{
    margin: auto;
    width: 70%;
    font-family: ;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* Header */

/* Nav Bar */

nav{
    display: flex;
    align-items: center;
}

nav>.container{
    display: flex;
    align-items: center;
}

/* Nav Bar Logo */
nav>div>.col-lg-2>img{
    width: 150px;
}

/* Nav Bar lists */

nav>div>.col-lg-5{
    text-align: right;
}

nav>div>.col-lg-5>ul{
    list-style: none;
}
nav>div>.col-lg-5>ul>li{
    display: inline-block;
    margin: 0 5px
}

nav>div>.col-lg-5>ul>li>a{
    text-decoration: none;
    color: #172E5C;
}

.signup_button{
    color: #2285FD;
    border: 1px solid #2285FD;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Jumbotron */

#jumbotron{
    background-image: url(../img/bg-banner-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
}

#jumbotron>.container>.col-lg-7{
    color: white;
}

#jumbotron>.container>.col-lg-7 h1{
    font-size: 4rem;
    width: 95%;
}

#jumbotron>.container>.col-lg-7 p{
    width: 95%;
    color: #BBCDFF;
    font-size: 1.3rem;
    line-height: 25px;
}

/* Sign Box  */

.sign_box{
    background-color: #ffff;
    height: 365px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign_box>*{
    margin: 5px 0;
}

.sign_box>input, .sign_box>a{
    display: block;
    width: 90%;
    margin: 5px auto;
}

#account_btn{
    background-color: #579AFF;
}

#sb_blue, .sign_box div:first-child{
    font-size: 2rem;
    font-weight: 600;
}

#sb_blue{
    color: #006AFF;
}

.sign_box>input {
    padding: 10px 3px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: #757575;
}

#account_btn, #google_btn {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
}

#account_btn {
    color: white;
}

#google_btn {
    color: #626262;
    box-shadow: 1px 1px 2px lightgray;
    position: relative;
}

#google_btn img{
    width: 20px;
    position: absolute;
    left: 10px;
}


.sign_box div:last-child{
    font-size: 0.8rem;
}

.sign_box div:last-child a{
    color: #006AFF;
}

/* Main */

/* Customers Section */

#customers .container {
    text-align: center;
}

#customers_logos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: 1.5rem 0;

}

#customers .container div:first-child{
    padding-top: 3rem;
}

#customers_logos>img{
    display: inline-block;
}

#customers div:first-child {
    color: #6F7B97;

}

#customers a{
    text-decoration: none;
    color: #006AFF;
}

/* Deploy and scale section */

#deploy .container {
    text-align: center;
}

#deploy .container h2 {
    color: #031C4E;
    padding-top: 5rem;
    font-size: 2rem;
}

#deploy .container p{
    color: #6F7B97;
    font-size: 1.3rem;
    line-height: 25px;
    padding-top: 1rem;
}

#deploy_box{
    margin-top: 3rem;
}

.deploy_list{
    border-left: 2px solid #BFBFBF;
    text-align: left;
}
.deploy_list ul{
    list-style: none;
}

.deploy_list ul>li{
    color: #6F7B97;
    font-size: 1.3rem;
    padding: 10px 0 10px 10px;
}

.spec_box {
    text-align: left;
    height: 200px;
}

